<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" [routerLink]="['/dashboard']">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="processes" [routerLink]="['/processes']">
      <ion-icon name="pulse-outline"></ion-icon>
      <ion-label>Processes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="integrity" [routerLink]="['/integrity']">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Integrity</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="intel" [routerLink]="['/intel']">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Intel</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="darkweb" [routerLink]="['/darkweb']">
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>Dark Web</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="firewall" [routerLink]="['/firewall']">
      <ion-icon name="shield-half-outline"></ion-icon>
      <ion-label>Firewall</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="system" [routerLink]="['/system']">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>System</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
